{% extends 'base.html' %} # вызываем файл, где хранится шаблон
  
{% block title %}
Вход
{% endblock %}  # закрываем блок
  

{% block body %}
 <style>


        h1, h2, h3 {
        font-family: Arial, sans-serif;

        }

        .row {
        padding: 116px;
        }

    </style>


<div class="container">


        <div class="row">
            <div class="col-md-6 fw-light">

                <h3>1. Отслеживание времени работы</h3>
                <ul>
                    <li>Автоматический учет рабочего времени сотрудников.</li>
                    <li>Регистрация начала и окончания рабочего дня.</li>
                    <li>Анализ времени, затраченного на выполнение конкретных задач и проектов.</li>
                </ul>

                <h3>2. Мониторинг активности</h3>
                <ul>
                    <li>Отслеживание активности на компьютере (использование приложений, посещение веб-сайтов).</li>
                    <li>Снятие скриншотов рабочего стола с заданной периодичностью.</li>
                    <li>Логи клавиатуры и мыши для оценки продуктивности.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3>3. Управление задачами и проектами</h3>
                <ul>
                    <li>Интеграция с системами управления проектами (например, Jira, Trello).</li>
                    <li>Назначение и отслеживание выполнения задач сотрудниками.</li>
                    <li>Генерация отчетов по выполнению задач и проектов.</li>
                </ul>

                <h3>4. Анализ производительности</h3>
                <ul>
                    <li>Оценка продуктивности сотрудников на основе собранных данных.</li>
                    <li>Индивидуальные отчеты о производительности и эффективности.</li>
                    <li>Идентификация проблемных областей и предложений по их улучшению.</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %} # закрываем блок